<!--The content below is only a placeholder and can be replaced.-->
<app-navigation></app-navigation>

<main>
  <router-outlet>
    <!-- Loading Icon //-->
    <app-loading></app-loading>
  </router-outlet>
</main>

<footer class="container-fluid bg-primary fixed-bottom">
  <div class="text-light">
    <span>Copyright&nbsp;&copy;&nbsp;</span>
    <span class="copyright period">{{copyright.period}}&nbsp;</span>
    <span class="copyright claimant">{{copyright.claimant}}</span>
    <span>. All rights reserved.</span>
  </div>
</footer>
