.navbar-brand .icon {
  width: 40px;
  height: 40px;
}

footer {
  position: fixed;
  bottom: 0;
}

.container-table {
  display: table;
  height: 100vh;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.copyright.claimant {
  font-style: italic;
}
