<!--The content below is only a placeholder and can be replaced.-->
<header>
  <span>
    <!-- Icon Placeholder //-->
    <img class="icon" src="assets/images/icon.png">
  </span>
  <span>
    <!-- Title Placeholder //-->
    <h1 style="text-align:center">{{ title }}</h1>
  </span>
  <span>
    <!-- Navigation dropdown menu //-->
    <app-navigation></app-navigation>
  </span>
</header>

<main>
  <router-outlet>
    <!-- Loading Icon //-->
    <div class="loading-screen container container-table">
      <div class="row vertical-center-row">
        <p class="text-center col col-m4-4 col-m4-offset-4">Loading ...</p>
      </div>
    </div>
  </router-outlet>
</main>

<footer>
  <div>Copyright&nbsp;&copy;&nbsp;<span class="copyright period">{{copyright.period}}</span>&nbsp;<span class="copyright claimant">{{copyright.claimant}}</span>.&nbsp;All rights reserved.</div>
</footer>
