.navbar-brand .icon {
  width: 40px;
  height: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: grey;
  font-family: "Times New Roman";
}

.container-table {
  display: table;
  height: 100vw;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
