header {
  position: fixed;
  top: 0;
  background-color: lightgreen;
  width: 100vw;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}

header h1 {
  font-size: 30px;
}

header .icon {
  width: 40px;
  height: 40px;
}

header span {
  margin: 0;
  padding: 0;
  float: left;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: grey;
  font-family: "Times New Roman";
}
