<!--The content below is only a placeholder and can be replaced.-->
<header class="container-fluid bg-primary">
  <nav class="navbar navbar-dark">
    <span class="navbar-brand">
      <img class="icon" src="assets/images/icon.png">
    </span>
    <app-navigation></app-navigation>
  </nav>
</header>

<main>
  <router-outlet>
    <!-- Loading Icon //-->
    <div class="loading-screen container container-table">
      <div class="row vertical-center-row">
        <p class="text-center col col-m4-4 col-m4-offset-4">Loading ...</p>
      </div>
    </div>
  </router-outlet>
</main>

<footer class="container-fluid bg-primary">
  <div class="text-light">
    <span>Copyright&nbsp;&copy;&nbsp;</span>
    <span class="copyright period">{{copyright.period}}&nbsp;</span>
    <span class="copyright claimant">{{copyright.claimant}}</span>
    <span>. All rights reserved.</span>
  </div>
</footer>
