<header class="container-fluid bg-primary fixed-top">
<nav class="navbar navbar-dark">
  <span class="navbar-brand">
    <img class="icon" src="assets/images/icon.png">
  </span>
  <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-content"
      aria-controls="navbar-content"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
    id="navbar-content">
    <app-navigation-list></app-navigation-list>
  </div>
</nav>
</header>
